@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@1&family=Merriweather&family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'IBM Plex Mono' ;
}
body{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
    background: #000;
}
footer{
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social_icons,.menu{
 list-style: none;
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 10px 0;
 flex-wrap: wrap;
}
footer .social_icons li,.menu li{
    list-style: none;

}
footer .social_icons li a,.menu li a{
 font-size: 2em;
 color: white;
 margin: 0 10px;
 display: inline-block;
 transition: 0.5s;
}
footer .social_icons li a:hover{
    transform: translateY(-10px);
}
footer .menu li a{
    font-size: 1.2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.6;
}
footer .menu li a:hover{
    opacity: 1;
}
footer p{
    color: aliceblue;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px 100px;
}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 5s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.9;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3{
    z-index: 998;
    opacity: 0.8;
    bottom: 15;
    animation: animateWave_03 3s linear infinite;
}
footer .wave#wave4{
    z-index: 997;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_04 2s linear infinite;
}
footer .wave#wave5{
    z-index: 996;
    opacity: 0.6;
    bottom: 25;
    animation: animateWave_05 1s linear infinite;
}
footer .wave#wave6{
    z-index: 995;
    opacity: 0.5;
    bottom: 30px;
    animation: animateWave_06 4s linear infinite;
}
footer .wave#wave7{
    z-index: 994;
    opacity: 0.4;
    bottom: 35;
    animation: animateWave_07 3s linear infinite;
}
footer .wave#wave8{
    z-index: 993;
    opacity: 0.3;
    bottom: 40px;
    animation: animateWave_08 2s linear infinite;
}
footer .wave#wave9{
    z-index: 992;
    opacity: 0.2;
    bottom: 45px;
    animation: animateWave_09 3s linear infinite;
}
@keyframes animateWave{
    0% {
        background-position-x: 1000px;
    }
    100%{
        background-position-x:0px ;
    }
}
@keyframes animateWave_02{
    0% {
        background-position-x: 999px;
    }
    100%{
        background-position-x:0px ;
    }
}
@keyframes animateWave_03{
    0% {
        background-position-x: 998px;
    }
    100%{
        background-position-x:0px ;
    }
}
@keyframes animateWave_04{
    0% {
        background-position-x: 997px;
    }
    100%{
        background-position-x:0px ;
    }
}
@keyframes animateWave_05{
    0% {
        background-position-x: 996px;
    }
    100%{
        background-position-x:0px ;
    }
}
@keyframes animateWave_06{
    0% {
        background-position-x: 995px;
    }
    50% {
        background-position-x: 495px;
    }
    100%{
        background-position-x:0px ;
    }
}
@keyframes animateWave_07{
    0% {
        background-position-x: 994px;
    }
    100%{
        background-position-x:0px ;
    }
}
@keyframes animateWave_08{
    0% {
        background-position-x: 993px;
    }
    100%{
        background-position-x:0px ;
    }
}
@keyframes animateWave_09{
    0% {
        background-position-x: 992px;
    }
    100%{
        background-position-x:0px ;
    }
}